@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@900&display=swap');

.f1 {
  font-family: 'Roboto';
  font-weight: 200;
  color: #7fdff4;
  margin: 0;
}
.f3{
  font-family: 'Roboto';
  color: #fff;
  opacity: 50%;
    margin: 1em 0 1em 0;

}

/*container*/
.logo{
	color: #fff;
	font-family: 'Ariel', sans-serif;
}
/*<NB/>*/
.tag{
    opacity: 30%;
    margin-bottom: 0;
    font-size: 2em;
    color: #fff
}
.logo h2{
	font-size: 1.2em;
	 margin-top: 0;
	 margin-bottom: 0;
	 color: #7fdff4;
}
/*line*/
#hr_logo{
    width: 8em;
}
#webdev{
	font-size: 1em;
    margin: 0 ;
}
.hr_main{
    max-width: 260px;
    width: 30%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7fdff4;    
}

.card_content{
  font-size: 0.5em;
}
.card_content h4{
   max-width: calc(30em * 0.5);

}